@import "tailwindcss";

:root {
  --background: radial-gradient(
    circle at center,
    #dde5d3 0%,
    #c8d3be 40%,
    #a8b79f 75%,
    #8fa087 100%
  );
  --foreground: #1F2622;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-garamond);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    EB Garamond,
    serif;
}
